<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <!--  General Web Application Description --> 
  <display-name>CSE 135 Support Files</display-name>

  <description>
   Some useful data for CSE 135 project
  </description>

 <servlet>
   <servlet-name>support</servlet-name>
   <jsp-file>/support.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
   <servlet-name>support</servlet-name>
   <url-pattern>/support</url-pattern>
  </servlet-mapping>

</web-app>
